p {
    color:darkturquoise;
    font-size: 8px;
}

div {
    color: aqua;
}

.test {
    color: blue;
    font-size: 48xp;
}

#plop {
    color: blueviolet;
font-size: 48xp;
}

.bigtitle {
    font-size: xx-large;
}